{% extends "_inhaltsseite.html.j2" %}

{% block inhalt %}
  <dl class="impressum">
    {% for feld in felder %}
      <dt>{{ feld.titel }}</dt>
      <dd>{{ feld.text|replace('\n', '<br>')|safe }}</dd>
    {% endfor %}
  </dl>

  <p class="stand">
    Erstellt am {{ ausgabe.erstellt_am_lesbar }}
    {%- if ausgabe.erzeugt_von %} von {{ ausgabe.erzeugt_von }}{% endif %}
    &middot; Statistiken: fupa.net
  </p>
{% endblock %}
