{% extends "_basis.html.j2" %}

{% block koerper %}
<div class="seite titel">

  <div class="kopfzeile">
    <span>Saison {{ heft.saison }}</span>
    <span>{{ spiel.wochentag }} {{ spiel.datum }}</span>
  </div>

  {% if heft.logo_url %}
    <img class="wappen-gross" src="{{ heft.logo_url }}" alt="">
  {% endif %}

  <div class="hefttitel">
    <div class="zeile1">{{ heft.titel_zeile1 }}</div>
    <div class="zeile2">{{ heft.titel_zeile2 }}</div>
  </div>

  {% if titelbild_url %}
    <img class="bild" src="{{ titelbild_url }}" alt="">
  {% else %}
    <div class="bild-platzhalter">
      Titelbild: Datei <em>{{ titelbild_erwartet }}</em> ablegen
    </div>
  {% endif %}

  <div class="schraege schraege-oben"></div>
  <div class="schraege schraege-unten"></div>

  <div class="kasten">
    <div class="gaeste">Wir begrüßen unsere Gäste:</div>
    <div class="tag">{{ spiel.wochentag }}</div>
    <div class="paarung">{{ spiel.paarung }}</div>
    <div class="details">
      {{ spiel.wettbewerb }}
      {%- if spiel.datum %} &nbsp;&bull;&nbsp; {{ spiel.datum }}{% endif %}
      {%- if spiel.uhrzeit %} {{ spiel.uhrzeit }}{% endif %}
    </div>
    {% if spiel.spielort %}<div class="details">{{ spiel.spielort }}</div>{% endif %}
  </div>

</div>
{% endblock %}
